<ion-header>
	<ion-toolbar>
		<ion-item lines="none">
			<ion-title class="title-header">Task</ion-title>
		</ion-item>
		<ion-buttons slot="end">
			<ion-button *ngIf="model.id" (click)="onClickSave()">Save</ion-button>
			<ion-button *ngIf="!model.id" (click)="onClickCreate()">Create</ion-button>
			<ion-button (click)="onClickClose()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<form novalidate>
		<ion-item
			*ngFor="let column of state.columns; let i = index"
			lines="full"
			class="ion-activatable {{column.readOnly ? 'hidden' : ''}}"
		>
			<ion-input
				[(ngModel)]="model[column.realName]"
				name="{{column.realName}}"
				type="text"
				required="true"
				label="{{column.name}}"
				labelPlacement="stacked"
				*ngIf="column.dataType === 'string'"
			>
			</ion-input>
			<ion-datetime
				*ngIf="column.dataType === 'datetime'"
				presentation="date-time"
				[(ngModel)]="model[column.realName]"
				name="{{column.realName}}"
				required="true"
				min="2020-01-01T00:00:00"
				max="2100-12-31T23:59:59"
			>
				<span slot="title">Due Date</span>
			</ion-datetime>
		</ion-item>
	</form>
</ion-content>
