.datatable-edit-button {
	color: var(--ion-color-primary);
	&:hover {
		color: var(--ion-color-secondary);
	}
	position: absolute;
	width: 30px;
	height: 30px;
	margin: 10px;
	margin-right: 0;
	right: 0;
	top: -1rem;
}

.datatable-edit-column {
	position: relative;
}
