<div>
	<ngx-datatable
		class="material"
		[rows]="state.models"
		[rowHeight]="50"
		[columns]="state.columns"
		[columnMode]="'force'"
		[sortType]="sort"
		[headerHeight]="50"
		[footerHeight]="50"
		[externalPaging]="true"
		[count]="state.pageInfo.totalElements"
		[offset]="state.pageInfo.pageNumber"
		[limit]="state.pageInfo.pageSize"
		(page)="setPage($event)"
	>
		<ngx-datatable-column *ngFor="let column of state.columns" [name]="column.name">
			<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
				<div *ngIf="column.name === 'Name'" class="datatable-edit-column">
					{{ value }}
					<ion-icon
						name="create-outline"
						class="datatable-edit-button"
						(click)="onClickOpenEdit($event, row)"
					></ion-icon>
				</div>
				<div *ngIf="column.name !== 'Name'">
					<div *ngIf="column.dataType === 'string'">
						{{ value }}
					</div>
					<div *ngIf="column.dataType === 'datetime'">
						{{ value | date: "yyyy-MM-dd h:mm a" }}
					</div>
				</div>
			</ng-template>
		</ngx-datatable-column>
	</ngx-datatable>
</div>
